{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>TESTING</title>
</head>
<body id="main" class="text-light bg-dark">



    <div>
        <div class="d-flex justify-content-center mt-2 p-3 mb-2">
            <h2> Bienvenue <span style="color:rgb(234, 152, 2);">{{user.username}}</span> </h2>
        </div>
        <div>
            <p class="text-center"> Vous trouverez ci-dessous le lien vers l'application 
                <span style="color:rgb(0, 153, 255);"><b>d'analyse de donnée</b></span> . 
            </p>
        </div>
    </div>


    <a href="https://nixiz0-goldenline-streamlit-streamlit-a50t0i.streamlit.app/" target="_blank" class="btn btn-primary stretched-link">Analyser les données</a>




    <script src="{% static 'js/dynamic_template.js' %}"></script>

</body>
</html>