{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static 'icon.png' %}" type="image/x-icon">
    <title> GoldenLine </title>
</head>
<body class="text-light bg-dark">
    <div class="text-center m-3">
        <h2> Bienvenue sur </h2>
    </div>
    <div class="text-center mb-3 p-1 text-warning">
        <h1> GoldenLine </h1>
    </div>

    <div class="d-flex justify-content-center c-white">
        <form method="post" novalidate>
            {% csrf_token %}
            <div>
                <label for="username" class="form-label">Identifiant</label>
                <div class="m-1">
                    {{form.username}}
                </div>
            </div>
            <div>
                <label for="exampleInputPassword1" class="form-label">Mot de Passe</label>
                <div class="m-1">
                    {{form.password}}
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Connexion</button>
        </form>
    </div>

</body>
</html>